<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color: green"
    <h1><B>Mi familia está compuesta por:</B></h1> </p>
    {{persona1.nombre}} es mi {{persona1.relacion}}. Nació el {{persona1.nacimiento}}. Su profesión es {{persona1.profesion}}
    <br>
    {{persona2.nombre}} es mi {{persona2.relacion}}. Nació el {{persona2.nacimiento}}. Su profesión es {{persona2.profesion}}
    <br>
    {{persona3.nombre}} es mi {{persona3.relacion}}. Nació el {{persona3.nacimiento}}. Su profesión es {{persona3.profesion}}
    <br>
    {{persona4.nombre}} es mi {{persona4.relacion}}. Nació el {{persona4.nacimiento}}. Su profesión es {{persona4.profesion}}
</body>
</html>